body {
  background-image: url("fondo-gris-claro.jpg");
  background-color: lightblue;
}

#centro {
  text-align:center;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 35px;
  background-color: #949CA5;
  background-size: ;
}

img {
  display: block;
  margin: auto;
}
#pa {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20;
}

.tex1 {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 25px;
  text-align:center;
  background-color: #949CA5;
}

.nav-enlace {
  display: inline-block;
  background: grey;
  color:Black;
  padding:15px 30px;
  text-decoration: none;
}

.nav-enlace:hover{
  background: whitesmoke;
}

nav {
  background: darkgrey;
  padding: 10px;
}

.circular--square--small {
   width: 200px;
  height: 200px;
  border-radius: 50%;
}
